/* Global */

/* Reset all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font settings for the whole document */
html {
    font-size: 100%; /* 16px */
    font-family: 'Open Sans';
    color: #393939;
    background-color: #fff;
}

/* Set body to take up full height and width */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

/* Remove default list styles */
ul,
ol {
    list-style: none;
}

/* Remove default link styles */
a {
    text-decoration: none;
    font-size: 1.3125rem;
    font-weight: 400;
    cursor: pointer;
    color: #393939;
    width: fit-content;
}

button {
    font-size: 1.3125rem;
    font-weight: 400;
    color: #fff;
    width: 11.25rem;
    padding: 1.25rem;
    background-color: #5BACC3;
    border: none;
    cursor: pointer;
}

h1 {
    font-size: 3.75rem;
    font-weight: 300;
}

h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3 {
    font-size: 2.0625rem;
    font-weight: 300;
}

p {
    font-size: 1rem;
    font-weight: 400;
}