@use "./mixins" as *;
@use "./variables" as *;
@use "./fonts" as *;
/* Reset all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font settings for the whole document */
html {
    font-size: 100%; /* 16px */
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

/* Set body to take up full height and width */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

/* Remove default list styles */
ul,
ol {
    list-style: none;
}

/* Remove default link styles */
a {
    text-decoration: none;
    font-size: 1.3125rem;
    font-weight: 400;
    cursor: pointer;
    width: fit-content;
}

button {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    width: 11.25rem;
    padding: 1.25rem;
    background-color: $colour-orange;
    border: none;
    cursor: pointer;
    height: 0.5rem;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: $colour-blue;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: $colour-blue;
}

h3 {
    font-size: 2.0625rem;
    font-weight: 300;
}

h4 {
    font-size: 0.6rem;
    font-weight: 500;
    color: $colour-orange;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

.nav {
    padding: 1rem 7rem;
    display: flex;
    justify-content: space-between;

    &__name {
        font-size: 1.5rem;
        font-weight: 700;
        color: $colour-blue;
    }

    &__list {
        display: flex;
        gap: 2rem;
    }

    &__link {
        font-size: 1rem;
        color: $colour-black;

        &--active {
            border-bottom: 4px solid $colour-orange;
            padding-bottom: 0.5rem;
        }
    }
}

.footer {
    padding: 1rem 10rem;
    background-color: $colour-offwhite;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        color: $colour-blue;  
        margin-bottom: 2rem;  
    }

    &__hours {
        display: flex;
        gap: 2rem;
    }

    &__container {
        color: $colour-blue;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__icons {
        display: flex;
        gap: 2.5rem;
        height: 2.6875rem;
        align-items: end;
    }
    
    &__icon {
        height: 1.5625rem;
    }
}