@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Light.ttf") format("truetype"), url("../../assets/fonts/alternative/OpenSans-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Regular.ttf") format("truetype"), url("../../assets/fonts/alternative/OpenSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Medium.ttf") format("truetype"), url("../../assets/fonts/alternative/OpenSans-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../../assets/fonts/alternative/OpenSans-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Bold.ttf") format("truetype"), url("../../assets/fonts/alternative/OpenSans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../../assets/fonts/alternative/OpenSans-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
/* Reset all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font settings for the whole document */
html {
  font-size: 100%; /* 16px */
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

/* Set body to take up full height and width */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  font-size: 1.3125rem;
  font-weight: 400;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

button {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  width: 11.25rem;
  padding: 1.25rem;
  background-color: #DB7A4E;
  border: none;
  cursor: pointer;
  height: 0.5rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #335576;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #335576;
}

h3 {
  font-size: 2.0625rem;
  font-weight: 300;
}

h4 {
  font-size: 0.6rem;
  font-weight: 500;
  color: #DB7A4E;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.nav {
  padding: 1rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 1;
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem 5rem;
  }
}
.nav__name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #335576;
}
.nav__list {
  display: flex;
  gap: 2rem;
}
.nav__link {
  font-size: 1rem;
  color: black;
  transition: 0.25s;
}
.nav__link--active {
  border-bottom: 4px solid #DB7A4E;
  padding-bottom: 0.5rem;
}
.nav__link:hover {
  border-bottom: 4px solid #DB7A4E;
  padding-bottom: 0.5rem;
}

.footer {
  padding: 1rem 10rem;
  background-color: #FEFAF5;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
    height: 54vh;
    justify-content: space-around;
    text-align: center;
    padding: 1rem 5rem;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #335576;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .footer__title {
    margin-bottom: 0.5rem;
  }
}
.footer__hours {
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  .footer__hours {
    flex-direction: column;
    gap: 1rem;
  }
}
.footer__container {
  color: #335576;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__icons {
  display: flex;
  gap: 2.5rem;
  height: 2.6875rem;
  align-items: end;
}
.footer__icon {
  height: 1.5625rem;
}

.schedule {
  padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #F7F7F7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
}
.schedule--hawaii {
  background-image: url(../assets/images/hawaii.jpg);
}
.schedule--iceland {
  background-image: url(../assets/images/iceland.jpg);
}
.schedule--greece {
  background-image: url(../assets/images/greece.jpg);
}
.schedule__title {
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 700;
}
.schedule__container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}
.schedule__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 23%;
  height: 22.5rem;
  border-radius: 0.625rem;
  background-color: #FFFFFF;
  padding: 1rem;
}
.schedule__day {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
}
.schedule__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.schedule__item {
  width: 100%;
  height: 2.5rem;
  background-color: #FEFAF5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule__text {
  text-align: center;
}/*# sourceMappingURL=destinations.css.map */