@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;

.hero {
    background-color: $colour-offwhite;
    padding: 8rem 1.25rem 5rem;
    display: flex;
    gap: 1.25rem;
    justify-content: space-around;
    align-items: center;

    @include tablet {
        flex-direction: column-reverse; 
        padding: 8rem 10rem 5rem;   
        text-align: center;
    }

    &__container {
        width: 34%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include tablet {
            width: 100%;
            align-items: center;
        }

    }

    &__image {
        height: 20rem;

        @include tablet {
            height: 10rem;
        }
    }
}

.recommendations {
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #F7F7F7;

    @include tablet {
        justify-content: center;
        align-items: center;
        padding: 5rem 1rem;
    }
    
        &__container {
            display: flex;
            justify-content: center;
            gap: 3rem;
            width: 100%;

            @include tablet {
                flex-direction: column;
                align-items: center;
            }
        }
        
        &__card {
            width: 23%;
            min-width: 12rem;
            height: 22.5rem;
            border-radius: 0.625rem;
            box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
            align-items: center;
            position: relative;

            @include tablet {
                width: 60%;
                max-width: 16rem;
            }

            &--hawaii {
                background-image: url(../assets/images/hawaii.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }

            &--iceland {
                background-image: url(../assets/images/iceland.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }

            &--greece {
                background-image: url(../assets/images/greece.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        &__title {
            color: $colour-white;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
}

